# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\文档\Heartbar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
